---
import Reactor from "@/components/Reactor";

type Props = {
    summary: React.ReactNode;
};

const { summary } = Astro.props as Props;
---

<section class="summary">
    <h2>Professional Summary</h2>
    <hr />
    <p>
        <Reactor component={summary} />
    </p>
</section>
