---
import type { NotableProjectEntry } from "@/data/resume-data";
import Reactor from "@/components/Reactor";

type Props = {
    project: NotableProjectEntry;
};

const { project } = Astro.props as Props;
---

<section class="notable-project">
    <h3>{project.name}</h3>
    {project.description && <p class="description">{project.description}</p>}
    {
        project.points && (
            <ul class="points">
                {project.points.map((point) => (
                    <li>
                        <Reactor component={point} />
                    </li>
                ))}
            </ul>
        )
    }
</section>
