---
import type { Language } from "@/data/data";
import LanguagesListItem from "./LanguagesListItem.astro";

type Props = {
    languages: Language[];
};

const { languages } = Astro.props as Props;
---

<section class="languages">
    <h2>Languages</h2>
    <hr />
    {languages.map((language) => <LanguagesListItem language={language} />)}
</section>
