---
import { LanguageLevels, type Language } from "@/data/resume-data";

type Props = {
    language: Language;
    showLevel?: boolean;
};

const { language, showLevel = false } = Astro.props as Props;

const level_name =
    typeof language.level === "number" ? LanguageLevels : language.level;
---

<section class="language">
    <h3>{language.name}</h3>
    {showLevel && <span class="level">{level_name}</span>}
</section>
