---
import type { Link } from "@/data/resume-data";
import LinksListItem from "./LinksListItem.astro";

type Props = {
    links: Link[];
};

const { links } = Astro.props as Props;
---

<section class="links">
    <h2>Links</h2>
    <hr />
    <ul>
        {
            links.map((link) => (
                <li>
                    <LinksListItem {link} />
                </li>
            ))
        }
    </ul>
</section>
