---
import type { ResumeData } from "@/data/resume-data";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { InferGetStaticPropsType } from "astro";
import fs, { existsSync as fsExists } from "fs";
import path from "path";

type FileEntry = {
    file: string;
    name: string;
};

async function getEntries() {
    if (!fsExists("./src/resumes")) {
        return [];
    }
    const files = fs
        .readdirSync("./src/resumes")
        .filter((file) => file.endsWith(".tsx"))
        .map((file) => {
            const file_path = path.parse(file);
            return {
                name: file_path.name,
                ext: file_path.ext,
            };
        });
    const entries = await Promise.all(
        files.map(async (file) => {
            const { default: data } = (
                file.ext === ".ts"
                    ? await import(`../resumes/${file.name}.ts`)
                    : await import(`../resumes/${file.name}.tsx`)
            ) as { default: ResumeData };
            return {
                file: file.name,
                name: data.name,
            } as FileEntry;
        })
    );

    return entries;
}

const entries = await getEntries();
---

<BaseLayout>
    <h1>Built-in Resumes</h1>
    <ul>
        <li><a href="/examples">Example Resumes</a></li>
    </ul>
    <h1>Custom Resumes</h1>
    {
        entries.length > 0 ? (
            <ul>
                {entries.map((entry) => (
                    <li>
                        <a href={`/${entry.file}`}>{entry.name}</a>
                    </li>
                ))}
            </ul>
        ) : (
            <p class="no-resumes">
                No resumes found. Make sure to add some under{" "}
                <code>src/resumes</code>!
            </p>
        )
    }
</BaseLayout>

<style>
    body {
        @apply p-2 items-start;
        h1 {
            @apply text-2xl font-bold text-gray-950;
        }
        ul {
            @apply list-disc list-inside;
            & > li {
                & > a {
                    @apply text-blue-600 underline underline-offset-2;
                }
            }
        }
        .no-resumes {
            @apply text-gray-600 italic;

            code {
                @apply px-1 bg-gray-600 rounded-sm text-white;
            }
        }
    }
</style>
