---
import type { ResumeData } from "@/data/data";
import fs from "fs/promises";
import path from "path";

const entries = await Promise.all(
    (await fs.readdir("./src/data"))
        .filter((file) => file.endsWith(".tsx"))
        .map((file) => path.parse(file).name)
        .map(async (file) => {
            const { resume_data: data } = (await import(
                `../data/${file}.tsx`
            )) as { resume_data: ResumeData };
            console.log(data);
            return {
                file,
                name: data.name,
            };
        })
);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Resumes</title>
    </head>
    <body>
        <h1>Resumes</h1>
        <ul>
            {
                entries.map((entry) => (
                    <li>
                        <a href={`/${entry.file}`}>{entry.name}</a>
                    </li>
                ))
            }
        </ul>
    </body>
</html>
