---
import type { Certification } from "@/data/resume-data";
import CertificationsListItem from "./CertificationsListItem.astro";

type Props = {
    certifications: Certification[];
};

const { certifications } = Astro.props as Props;
---

<section class="certifications">
    <h2>Certifications</h2>
    <hr />
    {
        certifications.map((certification) => (
            <CertificationsListItem {certification} />
        ))
    }
</section>
