---
import type { WorkExperienceEntry } from "@/data/data";
import WorkExperienceListItem from "./WorkExperienceListItem.astro";

type Props = {
    experience: WorkExperienceEntry[];
};

const { experience } = Astro.props as Props;
---

<section class="work-experience">
    <h2>Work Experience</h2>
    <hr />
    {experience.map((experience) => <WorkExperienceListItem {experience} />)}
</section>
