---
import type { ResumeData } from "@/data/resume-data";
import LinkA from "../LinkA.astro";

type Props = {
    data: ResumeData;
};

const { data } = Astro.props as Props;

const links = data.links?.filter((link) => Boolean(link.prettyUrl)) ?? [];
const first_link = links[0];
const rest_of_links = links.slice(1);
---

<section class="name-and-title">
    <h1 class="name">{data.name}</h1>
    <h2 class="title">{data.title}</h2>
    {
        links.length > 0 && (
            <div class="links">
                <LinkA link={first_link} />
                {rest_of_links.map((link) => (
                    <LinkA link={link} />
                ))}
            </div>
        )
    }
</section>
