---
import type { ResumeData } from "@/data/resume-data";
import ResumeHeader from "./header/ResumeHeader.astro";
import ResumeBody from "./body/ResumeBody";
import ResumeFooter from "./footer/ResumeFooter.astro";

type Props = {
    data: ResumeData;
};

const { data } = Astro.props as Props;
---

<div class="resume">
    <ResumeHeader {data} />
    <ResumeBody {data} />
    <ResumeFooter {data} />
</div>
