---
import type { ResumeData } from "@/data/resume-data";

type Props = {
    data: ResumeData;
};

const { data } = Astro.props as Props;
---

<footer>
    <span class="message">
        Resume built by Joshua Kinzer{" "}
        <a href="https://github.com/aerawave/resume">using Astro & React</a>.
    </span>
</footer>
