---
import type { EducationEntry } from "@/data/resume-data";
import EducationListItem from "./EducationListItem.astro";

type Props = {
    education: EducationEntry[];
};

const { education } = Astro.props as Props;
---

<section class="education">
    <h2>Education</h2>
    <hr />
    {education.map((entry) => <EducationListItem {entry} />)}
</section>
