---
import type { Skill } from "@/data/data";
import SkillsListItem from "./SkillsListItem.astro";

type Props = {
    skills: Skill[];
};

const { skills } = Astro.props as Props;

const skills_with_levels: Exclude<Skill, string>[] = [];
const skills_without_levels: string[] = [];

for (const skill of skills) {
    if (typeof skill === "string") {
        skills_without_levels.push(skill);
    } else {
        skills_with_levels.push(skill);
    }
}
---

<section class="skills">
    <h2>Skills</h2>
    <hr />
    {skills_with_levels.map((skill) => <SkillsListItem {skill} />)}
    {
        skills_without_levels.length > 0 && (
            <p>
                <strong>Other skills:</strong>{" "}
                <em>{skills_without_levels.join(", ")}</em>
            </p>
        )
    }
</section>
