---
import { SkillLevels, type Skill } from "@/data/data";
import Pips from "@/components/Pips.astro";

type Props = {
    skill: Exclude<Skill, string>;
};

const { skill } = Astro.props as Props;

const level_key =
    typeof skill.level === "number"
        ? SkillLevels[skill.level - 1]
        : skill.level;
const level = SkillLevels.indexOf(level_key) + 1;
const empty = 5 - level;
---

<section class="skill">
    <h3>{skill.name}</h3>
    <div class="level">
        <Pips class={level_key} count={level} />
        <Pips class="empty" count={empty} />
    </div>
</section>
